//FONT STYLE NORMAL

@font-face {
  font-family: "Questrial";
  src: url("/fonts/Questrial-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap !important;
  /* Ensures fallback font is shown while loading */
}

@font-face {
  font-family: "SpaceMono";
  src: url("/fonts/SpaceMono-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap !important;
  /* Ensures fallback font is shown while loading */
}

@font-face {
  font-family: "SpaceMono";
  src: url("/fonts/SpaceMono-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap !important;
  /* Ensures fallback font is shown while loading */
}

@font-face {
  font-family: "SpaceMono";
  src: url("/fonts/SpaceMono-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap !important;
  /* Ensures fallback font is shown while loading */
}

@font-face {
  font-family: "SpaceMono";
  src: url("/fonts/SpaceMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap !important;
  /* Ensures fallback font is shown while loading */
}
