body.light-theme {
    --cor-white: #EBE6E0;
    --cor-black: #202020;
    --cor-orange: #EA6116;
    --cor-red: #551720;
    --cor-yellow: #FFC579;
    --cor-light-orange: #FF7D36
    --cor-cursor-mix: color-burn;
}

body.dark-theme {
    --cor-light: #131313;
    --cor-primary: #DA6A2D;
    --cor-secondary: #EBCC7D;
    --cor-dark: #EBE6E0;
    --cor-cursor-mix: difference;
}

@import "maplibre-gl/dist/maplibre-gl.css";

// FONTS
@import "base/fonts";

// Abstracts
@import "abstracts/functions";

// Define una clase de tema que condicionalmente importará los estilos correctos

@import "abstracts/variables";
@import "abstracts/mixins";

// Base
@import 'base/general';
@import 'base/text';

// Layout
@import "layout/spacing-dimension";
@import "layout/container";
@import "layout/flex";
@import "layout/cursor";

// Pages
@import "components/hero";
@import "components/card";
@import "components/dashboard";
@import "components/button";
@import "components/notifications";