/*Customized cursor styles*/
.cursor__custom {
  &-hover {
    position: fixed;
    pointer-events: none;
    z-index: 9999;
    width: 150px; /* Adjust size as needed */
    height: 150px; /* Adjust size as needed */
    background: url("/cursor-4.svg") no-repeat center center;
    background-size: cover;
    transform: translate(-50%, -50%); /* Center the cursor image */
  }
}

.cursor {
  &__trail {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 1000000000000;

    &--inverted {
      mix-blend-mode: var(--cor-cursor-mix);
    }

    &--hover {
      position: fixed;
      top: 0;
      left: 0;
      width: 0px;
      height: 0px;
      opacity: 0;
    }

    &--hovering {
      opacity: 1;
      position: fixed;
      top: 0;
      left: 0;
      width: 0px;
      height: 0px;
      background-color: var(--cor-primary);
      mix-blend-mode: var(--cor-cursor-mix);
      border-radius: 100%;
      pointer-events: none;
      z-index: 1000000000000;
      transform: translate(-50%, -50%);
      animation: grow-size 0.3s ease-out forwards;
    }

    &--exiting {
      opacity: 1;
      position: fixed;
      top: 0;
      left: 0;
      width: 0px;
      height: 0px;
      background-color: var(--cor-primary);
      mix-blend-mode: var(--cor-cursor-mix);
      border-radius: 100%;
      pointer-events: none;
      z-index: 1000000000000;
      transform: translate(-50%, -50%);

      animation: shrink-size 0.5s ease-out forwards;
    }
  }

  &__path {
    position: relative;
    fill: none;
    pointer-events: none;
    stroke: var(--cor-primary);
    stroke-width: 6px;
    stroke-linecap: round;
    stroke-linejoin: round;

    &--hovering::after {
      content: "";
      position: absolute;
      width: 100px;
      height: 100px;
      background-color: red;
      z-index: 1000000000000;
    }
  }
}

/* Animación de entrada (crece usando width y height) */
@keyframes grow-size {
  from {
    width: 0px;
    height: 0px;
  }
  to {
    width: 20px;
    height: 20px;
  }
}

/* Animación de salida (decrece usando width y height) */
@keyframes shrink-size {
  from {
    width: 20px;
    height: 20px;
  }
  to {
    width: 0px;
    height: 0px;
  }
}
